@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --auth-height: 30vh;
  --bottom-initial: calc(80% + 19rem);
  --bottom-animate: calc(-100% - 0.75rem);
  
}

.test {
  /* transition: all 1s; */
  /* transition: top 2.2s cubic-bezier(.36,-0.01,0,.77); */
  /* top: 0px; */
}

.test.closed {
  /* transition: all 1s; */
  /* transition: top 2.2s cubic-bezier(.36,-0.01,0,.77); */
  /* top: calc(var(--auth-height) - var(--auth-height)/10); */
}