@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --auth-height: 30vh;
  --bottom-initial: calc(80% + 19rem);
  --bottom-animate: calc(-100% - 0.75rem);
  
}

.test {
  /* transition: all 1s; */
  /* transition: top 2.2s cubic-bezier(.36,-0.01,0,.77); */
  /* top: 0px; */
}

.test.closed {
  /* transition: all 1s; */
  /* transition: top 2.2s cubic-bezier(.36,-0.01,0,.77); */
  /* top: calc(var(--auth-height) - var(--auth-height)/10); */
}